@font-face {
  font-family: "Futura PT";
  src: local("Futura PT"),
    url("./fonts/Futura PT_Medium.ttf") format("opentype");
}

#root {
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
  background: center / 200% no-repeat url("./src/assets/images/banner-area.png")
    #110a1d;
  color: #fff;
  font-family: "Lexend", sans-serif;

  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
